n8n-workflows/honeypot-v3-critical-alert.json
{
  "id": "honeypot-v3-critical-alert-router",
  "name": "HoneyPot v3 - Critical Alert Router",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "honeypot-v3-alert",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "honeypot-webhook",
      "name": "HoneyPot v3 Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -520,
        0
      ],
      "webhookId": "honeypot-v3-alert"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nconst event = body.event || {};\nconst severity = String(event.severity || body.severity || '').toLowerCase();\nconst isCritical = severity === 'critical';\nreturn [{ json: { accepted: isCritical, reason: isCritical ? 'critical_alert_accepted' : 'below_critical_threshold', workflow: 'HoneyPot v3 - Critical Alert Router', title: `🚨 ${body.source || 'HoneyPot v3'} critical alert`, summary: body.summary || 'HoneyPot v3 alert received', severity, source_ip: event.ip || body.ip || 'unknown', service: event.service || body.service || 'unknown', attack_category: event.attack_category || body.attack_category || 'unknown', payload: event.command || body.command || '', received_at: new Date().toISOString() } } }];"
      },
      "id": "normalize-alert",
      "name": "Normalize alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -260,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"accepted\":{{$json.accepted}},\"reason\":\"{{$json.reason}}\",\"workflow\":\"HoneyPot v3 - Critical Alert Router\",\"source_ip\":\"{{$json.source_ip}}\",\"severity\":\"{{$json.severity}}\"}",
        "options": {}
      },
      "id": "respond-alert",
      "name": "Respond with alert status",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        20,
        0
      ]
    }
  ],
  "connections": {
    "HoneyPot v3 Webhook": {
      "main": [
        [
          {
            "node": "Normalize alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize alert": {
      "main": [
        [
          {
            "node": "Respond with alert status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}
